@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@{
    var rootNode = Umbraco.TypedContentAtRoot();
    var duanHotItems = rootNode.DescendantsOrSelf("duAnItem").Where(x => x.GetPropertyValue<bool>("duAnHOT")).ToList();
}

<div class="category_headline">
    <a href="javascript:void(0);" title="Dự án HOT">
        <h2>Dự án HOT</h2>
        <span></span>
    </a>
</div>
<div id="project">
    <ul class="items">
        @foreach (var item in duanHotItems)
        {
            var thumbnail = Umbraco.TypedMedia(item.GetPropertyValue<int>("thumbnail"));
            var url = String.Empty;
            if (thumbnail != null)
            {
                url = thumbnail.Url;
            }
            
            <li class="@(duanHotItems.IndexOf(item) % 3 == 1 ? "center" : "")">
                <div class="thumbnail">
                    <a href="@item.Url"><img src="@url" width="216" height="117"></a>
                </div>
                <div class="title"><a href="@item.Url">@item.Name</a></div>
                <div class="address">@(item.GetPropertyValue<string>("diaChi"))</div>
                <div class="price">Giá: @(item.GetPropertyValue<string>("gia")) triệu</div>
                <div class="square">Diện tích: @(item.GetPropertyValue<string>("dienTich")) m2</div>
            </li>
        }
    </ul>
    <div class="clearfix"></div>
</div>

<div class="category_headline">
    <a href="javascript:void(0);" title="Tin tức mới">
        <h2>Tin tức mới</h2>
        <span></span>
    </a>
</div>